<section id="counters">
  <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="section-heading" style="font-weight: 800;">Developing Developers for India</h2>
        <h3 class="section-subheading">Master new skills in programming, design and product building. </h3>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline" >
        <div class="counters-v2"><i class="counters-v2-icon fa fa-users"></i>
          <figure class="counter color-base counters-v2-no opacme-col-1">{{ candidate }}</figure>
          <h4 class="counters-v2-title">Candidates</h4>
          <span class="counters-v2-subtitle">applied</span></div>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline">
        <div class="counters-v2"><i class="counters-v2-icon fa fa-university"></i>
          <figure class="counter color-base counters-v2-no opacme-col-2">{{ classes }}</figure>
          <h4 class="counters-v2-title">&nbsp;&nbsp;&nbsp;Classes&nbsp;&nbsp;</h4>
          <span class="counters-v2-subtitle">completed</span>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline">
        <div class="counters-v2"><i class="counters-v2-icon fa fa-mortar-board"></i>
          <figure class="counter color-base counters-v2-no  opacme-col-3">{{ developers }}</figure>
          <h4 class="counters-v2-title">Certified</h4>
          <span class="counters-v2-subtitle">graduate</span>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline">
        <div class="counters-v2"><i class="counters-v2-icon fa fa-rocket"></i>
          <figure class="counter color-base counters-v2-no opacme-col-4">{{ companies }}</figure>
          <h4 class="counters-v2-title">Companies</h4>
          <span class="counters-v2-subtitle">partnered</span></div>
      </div>
      
      
    </div>
  </div>
</section>