
  <!-- <div class="container">
    <div class="row">
      <div class="text-center">
        <h2 class="section-heading" style="font-weight: 800;">Developing Developers for India</h2>
        <h3 class="section-subheading">Master new skills in programming, design and product building. </h3>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline" >
        <div class="counters-v2"><i class="counters-v2-icon fa fa-users"></i>
          <figure class="counter color-base counters-v2-no opacme-col-1">{{ candidate }}</figure>
          <h4 class="counters-v2-title">Candidates</h4>
          <span class="counters-v2-subtitle">applied</span></div>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline">
        <div class="counters-v2"><i class="counters-v2-icon fa fa-university"></i>
          <figure class="counter color-base counters-v2-no opacme-col-2">{{ classes }}</figure>
          <h4 class="counters-v2-title">&nbsp;&nbsp;&nbsp;Classes&nbsp;&nbsp;</h4>
          <span class="counters-v2-subtitle">completed</span>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline">
        <div class="counters-v2"><i class="counters-v2-icon fa fa-mortar-board"></i>
          <figure class="counter color-base counters-v2-no  opacme-col-3">{{ developers }}</figure>
          <h4 class="counters-v2-title">Certified</h4>
          <span class="counters-v2-subtitle">graduate</span>
         </div>
      </div>
      <div class="col-md-3 col-sm-6 md-margin-b-30 displayinline">
        <div class="counters-v2"><i class="counters-v2-icon fa fa-rocket"></i>
          <figure class="counter color-base counters-v2-no opacme-col-4">{{ companies }}</figure>
          <h4 class="counters-v2-title">Companies</h4>
          <span class="counters-v2-subtitle">partnered</span></div>
      </div>
    </div>
  </div> -->


<section class="banner-bottom-section ch-p-bg-color text-center" style="background: #f8c218;">
<div class="container-fluid development" >
		<div class="counters">
		  <div class="container"  >
			<div class="row">
			  <div id="counter">
				<div class="text-center" style="padding: 40px 0 150px 0;  ">
				  <h2 class="section-heading">Developing Developers for India</h2>
				  <h3 class="section-subheading">Master new skills in programming, design and product building. </h3>
				</div>
			  </div>
			</div>
		  </div>
		</div>
</div>
</section>
<section class="banner-bottom-section ch-p-bg-color text-center" style="transform: translateY(-60%); height: 210px">
<div class="container-fluid development" >
		<div class="counters">
			<div class="container" >
				<div class="row">
					<div class="counter">
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12   wow zoomIn  animated animated" data-wow-delay="0.5s">
				  <div class="mycount ">
					<i class="counters-v2-icon fa fa-users"></i>
					<div class="counter-value" [attr.data-count]="candidate">0</div>
					<h4 class="counters-v2-title">Candidates</h4>
					<span class="counters-v2-subtitle">applied</span>
	  
				  </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12  wow zoomIn  animated animated" data-wow-delay="1s">
				  <div class="mycount">
					<i class="counters-v2-icon fa fa-users"></i>
					<div class="counter-value" [attr.data-count]="classes">100</div>
					<h4 class="counters-v2-title">&nbsp;&nbsp;&nbsp;Classes&nbsp;&nbsp;</h4>
          <span class="counters-v2-subtitle">completed</span>
				  </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12   wow zoomIn  animated animated" data-wow-delay="1.5s">
				  <div class="mycount">
					<i class="counters-v2-icon fa fa-users"></i>
					<div class="counter-value" [attr.data-count]="developers">100</div>
					<h4 class="counters-v2-title">Certified</h4>
          <span class="counters-v2-subtitle">graduate</span>
				  </div>
				</div>
				<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12   wow zoomIn  animated animated" data-wow-delay="2s">
				  <div class="mycount">
					<i class="counters-v2-icon fa fa-users"></i>
					<div class="counter-value" [attr.data-count]="companies">100</div>
					<h4 class="counters-v2-title">Companies</h4>
          <span class="counters-v2-subtitle">partnered</span></div>
				  </div>
				</div>
	  
			  </div>
			</div>
		  </div>
		</div>
  </section>