<div class="container-fluid objective">
		  <div class="container">
			<div class="row">
			  <div class="col-lg-12 text-center">
				<h2 class="section-heading wow bounceInDown animated" data-wow-delay="1s"  style="font-weight: 800;">You Learn. We Support.</h2>
				<h3 class="section-heading wow zoomIn  animated " data-wow-delay="1s">We want to grow best engineers to promote Technology and Innovation in INDIA.</h3>
			  </div>
			</div>
			<div class="text-center" style="margin-bottom: 50px">
			<h2 class="wow bounceInDown animated" data-wow-delay="2s">Our Objective</h2>
			  <h2 class="wow zoomIn  animated animated" data-wow-delay="3s"> Connect, Learn, Innovate &amp; Grab Opportunity</h2>
			 </div>

			<div class="row">
			   <img src="/assets/images/objective.jpg" class="img-responsive " />

			</div>
		  </div>
		</div>
