<section id="why-free">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="font-weight: 800;">You Learn. We Support.</h2>
        <h3 class="section-subheading text-muted">We want to grow best engineers to promote Technology and Innovation in INDIA.</h3>
      </div>
    </div>
    <div class="text-muted" style="margin-bottom: 50px">
    <h2 class="our-color">Our Objective</h2>
      <h2> Connect, Learn, Innovate & Grab Opportunity</h2>
      <!--<p class="large">We focus on our training quality and your success after the course. We can only be successful if you are successful. You <strong>only</strong> have to pay for tuition <strong>after</strong> you get a job. </p>
      <ul>
        <li>Pezitr is well-known and recognized in Vietnam and the region. We continue to partner with top tech companies to meet with you.</li>
        <li>We help you with your online portfolio and how to best represent yourself online, such as LinkedIn and GitHub.</li>
        <li>Through our classes, you will develop the skills needed and build impressive projects. We encourage using and contributing to Open Source Software.</li>
      </ul>
      <p class="large">If you already love your job, we are happy to work with your company to make it free for you to join. Just let us know! </p>-->
    </div>
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3" style="margin-left: 25%;">
        <div style="background-image: url('assets/img/growth.jpg'); background-size: 100% 100%; max-width:100%; height: 250px">
            
          </div>
        <!--<div class="video-container">
          <iframe allowfullscreen="true"  allowtransparency="true" frameborder="0" scrolling="no" src="https://www.youtube.com/embed/vnbT8xiBDWI?rel=0&amp;controls=0&amp;showinfo=0&amp;cc_load_policy=1" style="max-width:100%;border:none;overflow:hidden"></iframe>
        </div>-->
      </div>
    </div>
  </div>
</section>