<my-slider></my-slider>
<br>

<section id="about" class="bg-light-gray">

  <div class="container" style="max-width:400px">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading" style="font-weight: 800;">About US</h2>
        <h3 class="section-subheading text-muted">We offer high quality, fast-paced assignment based Learning / training for engineers on Android, iOS, Web and Automation.</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-center">
        <br>
        <h3>ABOUT THE PROGRAM</h3><br>
        <p>We are offers <strong>free</strong>, 8-week bootcamps for qualified applicants. Our curriculum is based around
          real-world examples, and has been tested by thousands of engineers from various companies.</p>

        <p>Student learn by training, group discussions and pair programming exercises. Along with the 5-15 hours per week homework
          assignments which is designed to feature the most common use cases.</p>
        <p>Eventually, students work in groups on a final product, which they present on the <strong>Product Demo event</strong>,
          in front of a few hundred people, for a Grand Prize Award, judged by local tech luminaries.</p>
        <p>Our judges are executives from the reputed corporates and founders, established investors, and finalists.</p>
        <br>
        <img alt="Pezitr" class="img-responsive" src="/assets/img/about/image_2.jpg" width="800">
        <br>
        <!--<h4>ABOUT THE TEAM</h4>-->
        <br>
        <h3>ABOUT OUR COMMUNITY11</h3>
        <br>
        <p>Product Demo day will a Convocation to showcase your product to top IT experts and get their directions on latest
          trends in IT.</p>
        <p>Our community is rich in culture and knowledge sharing latest trends through publishing papers and participating
          in various tech forums.</p>
        <!--<br><h4>VERY SHORT GALLERY OF OUR STUDENT PROJECTS</h4><br>-->
        <br>
      </div>

    </div>
  </div>
</section>

