<section id="about" class="bg-light-gray" style="top: 50px;  position: relative;">
  <div class="container" style="max-width:800px">
    <div class="row">
      <div class="col-lg-12 text-left">
        <!--<h2 class="section-heading" style="font-weight: 800;">Hi, glad to meet you!</h2>-->
        <h3 class="section-subheading text-muted">Co-Learning in an Innovative Environment</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 text-left">
        <br>
        <h3 class="text-muted">Hi, glad to meet you!</h3><br>
        <p>Even though this is not a real meeting, we’re excited that you are getting to know us, we too are excited to get to know you.</p>

        <p>We’ve been in this profession since 2015. We have helped over hundreds of engineers in completing their projects and trained them by our technical programs.</p>
            <!--We have helped over hundreds of engineers in completing their projects successfully, and more than 200 people have been trained by our technical course.</p>-->
        <p>But, the one thing we’re most proud-of is; we’re not ‘generic.’ We’re a specialized team of professionals who live and breathe digital products and help our friends succeed.
             <!--(We consider our all our customers our friends).--></p>
        <!--<p>Our judges are executives from the reputed corporates and founders, established investors, and finalists.</p>-->
        <br>
        <img alt="Pezitr" class="img-responsive" src="/assets/img/about/image_2.jpg" width="800">
        <br>
        <!--<h4>ABOUT THE TEAM</h4>-->
         <br>
        <h3 class="text-muted">Our Program</h3><br>
        <p>We offers <strong>free</strong>, 8-week bootcamps for qualified applicants with <strong>roadmap</strong>, a <strong>schedule</strong>, and <strong>goals</strong>. Our curriculum is based around
          real-world examples, and has been tested by thousands of engineers from various companies.</p>

        <p>Train them by group discussions, pair programming exercises and 5-15 hours per week homework
          assignments which is designed to feature the most common use cases.</p>
        <p>Eventually, students has to work in groups to complete a final product, which they present on the <strong>Product Demo event</strong>,
          in front of a few hundred people, for a Grand Prize Award, judged by local tech luminaries.</p>
        <p>Our judges are executives from the reputed corporates and founders, established investors, and finalists.</p>
        <br>
        <h3 class="text-muted">A Product Centric Engineering Team</h3>
        <br><br>
        <p>As you know, it is not only about the technology. Most important is, ‘how’ complete product (end to end) get done. </p>
        <p>Our product will be based on real time assignments(including Design). which will presanted in front of technical experts through DEMO.</p>
        <p>When you join us, you will get a full support from our engineering unit. Every member of the team will get an opputunity to play role of Developer, Tech leads or a Designer.</p>
        <!--<p>The magic is that we build product from weekly assignment, in the same way professional team would do.</p>
        <br>
        <ul>
            <li>
                Technical work flow design of Case Study.
            </li><br>
            <li>
                Break Case Study in small assignment.
            </li><br>
            <li>
                Assign assignemt in every week to each team member.
            </li><br>
            <li>
                Working code delivered at the end of every week.
            </li>
        </ul>-->
        
        <!--<br><h4>VERY SHORT GALLERY OF OUR STUDENT PROJECTS</h4><br>-->
        <!--<br>
        <br>
        <h3 class="text-muted">We work as team</h3>
        <br><br>
        <p>So, as you can tell our specialty goes beyond the technology stack we prefer. It’s the type of work we do, and who we do it for. We understand your unique set of challenges.</p>
        <p>We have designed our learning methodologies to work ‘within’ your ranks, and not as an outsider. With us, you have an internal engineering team.</p>
        <p>Here’s a few things we do to make sure you have full control and visibility.</p>
        <ul>
            <li>
                Work day-to-day with team member.
            </li><br>
            <li>
                Daily interaction of each Team member with Team.
            </li><br>
            <li>
                Story(assignment) level visibility.
            </li><br>
            <li>
                Working code delivered at the end of every week.
            </li><br>
            <li>
                Weekly code reviews.
            </li><br>
            <li>
                We will keep updated an assignemt within tools (JIRA for example)
            </li>
        </ul>-->
        <br><br><br><br>
        <h4 class="text-muted"><Strong>PeziTr </Strong></h4>
        <p>Co-Learning in an Innovative Environment</p>
      </div>
    </div>
  </div>
</section>