<my-slider></my-slider>
<br>

<div class="container photogallery hover15 ">
    <div class="row">
<h1 class="wow bounceInDown  animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: bounceInDown;">Photo Gallery </h1>
<hr>
<div class="col-md-4 wow zoomIn animated animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: zoomIn;">
        <figure><a href="/assets/images/demo1.jpg" data-imagelightbox="g" data-ilb2-caption="Sunset in Tanzania"><img src="/assets/images/thumb1.jpg" class="img-responsive"></a>  </figure>
    </div>
    <div class="col-md-4 wow zoomIn animated animated" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: zoomIn;">
        <figure> <a href="/assets/images/demo2.jpg" data-imagelightbox="g" data-ilb2-caption="Traffic jam in Tanzania"><img src="/assets/images/thumb2.jpg" class="img-responsive" ></a>  </figure>
    </div>
    <div class="col-md-4 wow zoomIn animated animated" data-wow-delay="2s" style="visibility: visible; animation-delay: 2s; animation-name: zoomIn;">
        <figure>  <a href="/assets/images/demo3.jpg" data-imagelightbox="g" data-ilb2-caption="Just another sunset in Tanzania"><img src="/assets/images/thumb3.jpg" class="img-responsive"></a>  </figure>
    </div>

    </div>

  <div class="row secondphoto" >
    <div class="col-md-4 wow zoomIn animated animated" data-wow-delay="1s" style="visibility: visible; animation-delay: 1s; animation-name: zoomIn;">
        <figure> <a href="/assets/images/demo1.jpg" data-imagelightbox="g" data-ilb2-caption="Sunset in Tanzania"><img src="/assets/images/thumb1.jpg" class="img-responsive"></a>   </figure>
    </div>
    <div class="col-md-4 wow zoomIn animated animated" data-wow-delay="1.5s" style="visibility: visible; animation-delay: 1.5s; animation-name: zoomIn;">
        <figure>     <a href="/assets/images/demo2.jpg" data-imagelightbox="g" data-ilb2-caption="Traffic jam in Tanzania"><img src="/assets/images/thumb2.jpg" class="img-responsive" ></a>   </figure>
    </div>
    <div class="col-md-4 wow zoomIn animated animated" data-wow-delay="2s" style="visibility: visible; animation-delay: 2s; animation-name: zoomIn;">
        <figure>   <a href="/assets/images/demo3.jpg" data-imagelightbox="g" data-ilb2-caption="Just another sunset in Tanzania"><img src="/assets/images/thumb3.jpg" class="img-responsive"></a>   </figure>
    </div>

    </div>
    </div>
