	<div style="margin-top:50px; background-color: white"></div>
	  <header id="myCarousel" class="carousel slide"  data-ride="carousel" data-interval="3000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active">
                <!-- Set the first background image using inline CSS below. -->
                <div class="fill find-right-mentor"></div>
                <div class="carousel-caption">
                    <div class="container">
		  				<div class="intro-text"><br>
						  <!--<h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Play with latest Technology</h2>-->
							<div class="inner-box-header">
								<div class="intro-heading_free">
									<!--&nbsp;&nbsp;&nbsp;Join our Free Tech Lab-->
									<!--<P>To Play with Latest Technology</P>-->
								</div>
							<!--<img src="./app/images/phd.jpg" alt="" style="border-radius: 20px;margin-top: 200px; height: 200px; opacity: .5">-->
							<!--<div class="intro-lead-in" style="color: white"> Play with latest Technology</div>-->
							<!--<a class="page-scroll btn btn-xl" href="#portfolio" style="margin: 10px">
							Interested</a>-->
							
							<br><br>
							</div>
						</div>
    				</div>
                </div>
            </div>
            <div class="item">
                <!-- Set the second background image using inline CSS below. -->
                <div class="fill pullme" ></div>
                <div class="carousel-caption">
                    <!--<h2>Caption 2</h2>-->
					<div class="container">
		  				<div class="intro-text">
							<div class="inner-box-header">
								<br> <br> <br> <br> <br> <br><br>
							<!--<div class="intro-heading">Angular 2.0</div>
							<div class="intro-lead-in">Learn Share Innovate</div>-->
							<a class="page-scroll btn btn-xl" (click)="displayLogin()" style="margin: 10px">
							APPLY NOW
							</a>
							
							<br><br>
							</div>
						</div>
    				</div>
                </div>
            </div>
            <div class="item">
                <!-- Set the third background image using inline CSS below. -->
                <div class="fill android-coming" ></div>
                <div class="carousel-caption">
                    <!--<h2>Caption 3</h2>-->
					<div class="container">
		  				<!--<div class="intro-text">
							<div class="inner-box-header">
								<br> <br> <br> <br> <br> <br><br>
							<div class="intro-heading">TBD</div>
							
							<div class="intro-lead-in">Learn with your own ideas</div>
							<a class="page-scroll btn btn-xl" href="#portfolio" style="margin: 10px">
							View Courses
							</a>
							
							<br><br>
							</div>
						</div>-->
    				</div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
	  <!--<header class="bg" >
		  <img class="mySlides" src="./app/images/IMG_3140.JPG">
			  <img class="mySlides" src="./app/images/IMG_3164.JPG">
        <div class="container">
		  <div class="intro-text">
    	    <div class="inner-box-header">
				 <br> <br> <br> <br> <br> <br><br>
    		  <div class="intro-heading">TBD</div>
    		  <div class="intro-lead-in">8-week challenging evening classes for programmers and designers</div>
    		  <a class="page-scroll btn btn-xl" href="#portfolio" style="margin: 10px">
    		  View Courses
    		  </a>
			  
			   <br><br>
    		</div>
    	  </div>
    	    
    	</div>
      </header>-->