


body {
    overflow-x: hidden;
    font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: grey;
}


*{
  margin: 0px;
  padding: 0px;
 }

 
  #page_center{
	width:1360px;
	text-align:left;
    background-color:white;
    
    
    }
   #page_header{
    padding:30px;
    background-color:#465C5E;
    color:white;
    }
  
  #logo_line{
  display:inline;
  padding:5px 2px 10px 10px;
  vertical-align:middle;
   }
   #tag_line{
  display:inline;
  
   }
   #page_nav{
   
   background-color:#465C5E;
   float:right;
   margin-top:10px;
    }
    #page_nav ul{
   list-style-type:none;
    }
    #page_nav a{
   color:white;
    }
    #page_nav li{
   display:inline;
   padding:10px;
  }
  
  /*--------------------------------------------------- */
  header {
    background-repeat: none;
    background-attachment: scroll;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    color: #fff;
}
.bg{
     background-image:url('techcafe5.jpg');
 }
  
   .inner-box {
    padding: 40px;
    margin: 20px;
    color: #000000;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.container:before{
        box-sizing: border-box;
}
.container:after {
    content: " ";
    display: table;
}

.intro-text {
    line-height: 2em;
}
.intro-heading {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 50px;
    margin-bottom: 25px;
}
.intro-lead-in {
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: italic;
    font-size: 22px;
    margin-bottom: 25px;
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
section {
    padding: 80px 0;
}
@media (min-width: 1200px)
{
.container {
    width: 1170px;
}
}
.container:before, .container:after {
    content: " ";
    display: table;
}
.btn-xl {
    color: #fff;
    background-color: #fed136;
    border-color: #fed136;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
}
.btn-xl {
    border-color: #e13640;
    background-color: #e13640;
}
.btn-xl {
    white-space: normal;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.text-center {
    text-align: center;
}
.section-heading {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 15px;
}
.section-subheading {
    margin-bottom: 20px;
    line-height: 1.3em;
}
.section-subheading {
    font-size: 16px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: none;
    font-style: italic;
    font-weight: 400;
    margin-bottom: 75px;
}
.text-muted {
    color: #777;
}

.text-muted {
    color: #777777;
}
@media (min-width: 992px)
{
.col-md-4 {
    width: 30.5%;
}
}
@media (min-width: 992px)
{
.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
}
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-left: 15px;
    padding-right: 15px;
}
.card-block {
    padding: 15px;
}

.card {
    position: relative;
    display: block;
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.service-heading {
    margin: 15px 0;
    text-transform: none;
}

.text-muted {
    color: #777;
}

.text-muted {
    color: #777777;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

/* nav bar */

.navbar-default.navbar-shrink {
    background-color: #fff;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2);
}
@media (min-width: 768px){
.navbar-default.navbar-shrink {
    background-color: #222;
    padding: 10px 0;
}
}
.navbar-default {
    background-color: rgba(0,0,0,0.1);
}
@media (min-width: 768px){
.navbar-default {
    background-color: transparent;
    padding: 25px 0;
    -webkit-transition: padding .3s;
    -moz-transition: padding .3s;
    transition: padding .3s;
    border: 0;
    }
 }
.navbar-default {
    background-color: #222;
    border-color: transparent;
}

.navbar-default {
    background-color: #f8f8f8;
    border-color: #e7e7e7;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
}
@media (min-width: 768px){
.navbar-fixed-top, .navbar-fixed-bottom {
    border-radius: 0;
}
 }
.navbar-fixed-top, .navbar-fixed-bottom {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px){ 
.navbar {
    border-radius: 4px;
}
}
.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}
@media (min-width: 1200px){ 
.container {
    width: 1170px;
}
}
@media (min-width: 992px){
.container {
    width: 970px;
}
}
@media (min-width: 768px){ 
.container {
    width: 750px;
}
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px){
.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
 }
.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
@media (min-width: 768px){
.navbar-header {
    float: left;
}
 }
.navbar-default .navbar-toggle {
    background-color: #d9534f;
    border-color: #d9534f;
}

.navbar-default .navbar-toggle {
    border-color: #ddd;
}

@media (min-width: 768px){
.navbar-toggle {
    display: none;
}
 }
.navbar-toggle {
    position: relative;
    float: right;
    margin-right: 15px;
    padding: 9px 10px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

button, select {
    text-transform: none;
}

button {
    overflow: visible;
}

button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
@media (min-width: 768px){
  .navbar-default.navbar-shrink .navbar-brand {
      font-size: 1.5em;
  }
 }
@media (min-width: 768px){
  .navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
      margin-left: -15px;
  }
 }
@media (min-width: 768px){ 
  .navbar-default .navbar-brand {
      font-size: 2em;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all 0.3s;
  }
}
.navbar-default .navbar-brand {
    color: #fed136;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
}

.navbar-default .navbar-brand {
    color: #777;
}

.navbar-brand {
    padding: 0;
}

.navbar-brand {
    float: left;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
    height: 50px;
}

a {
    color: #e13640;
}

a {
    color: #fed136;
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255,255,255,0.02);
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border-color: #e7e7e7;
}
@media (min-width: 768px){ 
.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
    margin-right: 0;
    margin-left: 0;
}
}
.container>.navbar-header, .container>.navbar-collapse, .container-fluid>.navbar-header, .container-fluid>.navbar-collapse {
    margin-right: -15px;
    margin-left: -15px;
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: 340px;
}
@media (min-width: 768px){ 
.navbar-fixed-top .navbar-collapse, .navbar-static-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    padding-left: 0;
    padding-right: 0;
}
}
@media (min-width: 768px){ 
.navbar-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
}
}
@media (min-width: 768px){ 
.navbar-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
}
}

.navbar-collapse {
    overflow-x: visible;
    padding-right: 15px;
    padding-left: 15px;
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    -webkit-overflow-scrolling: touch;
}

.collapse {
    display: none;
}

@media (min-width: 768px){ 
.navbar-right{
    float: right !important;
    margin-right: -15px;
}
}
@media (min-width: 768px){ 
  .navbar-nav {
      float: left;
      margin: 0;
  }
}
.navbar-nav {
    margin: 7.5px -15px;
}

.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 768px){
.navbar-nav>li {
    float: left;
}
 }
.nav>li {
    position: relative;
    display: block;
}

.hidden {
    display: none !important;
}

.navbar-default.navbar-shrink .nav li a {
    color: #000;
}

.navbar-default .nav li a {
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #777;
}
@media (min-width: 768px){ 
.navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 15px;
}
}
.navbar-nav>li>a {
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
}

.nav>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

a {
    color: #e13640;
}

a {
    color: #fed136;
}

a, a:hover, a:focus, a:active, a.active {
    outline: 0;
}

a {
    color: #337ab7;
    text-decoration: none;
}

a {
    background-color: transparent;
}
.test{
display: inline;
 }
.test>ul>li{
      display: inline;
 }
 .li{
  display: inline;
  }