<!--<div
		style="margin: 0 auto;">
		 <a style="margin-top: 138px;width: 230px; height: 40px; background-color: #444444; color: white " class="btn btn-block btn-social btn-github" 
		 href="https://github.com/login/oauth/authorize?scope=user%3Aemail&state=BcpvL1TygyfyjeGPyP74ZFu5GAgIkH7tI1GBlinn&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin%3Ftype%3Dgit&client_id=f50acc1ab6b21902b69f">
		 <i class="fa fa-github"></i>Sign in with GitHub</a>
		 <br>
		<br>
		 <a style="margin-top: 10px;width: 230px; height: 40px; background-color: #3B5998; color: white" class="btn btn-block btn-social btn-facebook" 
		 href="http://www.facebook.com/dialog/oauth?client_id=1273622235983404&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin%3Ftype%3Dfb">
		 <i class="fa fa-facebook"></i>Sign in with Facebook</a>

		<!<a href="http://www.facebook.com/dialog/oauth?client_id=1273622235983404&redirect_uri=http%3A%2F%2Flocalhost%3A3000%2Flogin"> <img
			style="margin-top: 10px;width: 225px;" src="app/images/googleplus_button.png" />
		</a>-->
<!--</div>-->
<form name="userfm" method=get action="" #f1="ngForm">
    <input type="hidden" name="ltype" value="vijay" [(ngModel)]="ltype">
    <input type="hidden" name="user" value="vijay" [(ngModel)]="user">
</form>