<div class="container-fluid contactusbg" id="coutactus" >
    <div class="transperant-bg">
    <div class="col-lg-12 text-center myfooter">
        <h2 class="section-heading" style="font-weight: 800;">Contact Us</h2>
        <h3 class="section-subheading">Connect us at <a href="http://m.me/100015695588502"> Facebook</a>  twitter or email us info@pezitr.com <br>We Cherish Every Interaction.</h3>
  
            <ul class="social-network social-circle">
                <li><a href="#" class="icoRss wow fadeIn animated" data-wow-delay="0.5s" title="Rss"><i class="fa fa-rss"></i></a></li>
                <li><a href="https://www.facebook.com/profile.php?id=100015695588502" class="icoFacebook wow fadeIn animated" data-wow-delay="1s" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a href="https://www.twitter.com/Pezitr" class="icoTwitter wow fadeIn animated" data-wow-delay="1.5s" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" class="icoGoogle wow fadeIn animated" data-wow-delay="2s" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="https://www.linkedin.com/company/Pezitr" class="icoLinkedin wow fadeIn animated" data-wow-delay="2.5s" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                <li><a href="mailto:admin@pezitr.com?Subject=Hello%20again" class=" icoGoogle wow fadeIn animated" data-wow-delay="2.5s" target="_top"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
            </ul>
  
  
      </div>
    </div>
  </div>
  <div class="container-fluid copyrightsection">
    <div class="col-lg-12 copyright">
      <div class="col-md-9 col-xs-12">
        <div class="footer-site-info"><p style="color:#fff">2017 © Copyrights Pezitr</p></div>
      </div>
      <div class="col-md-3 col-xs-12"> <a href="#" target="_blank" style="color:white"> e-branding By Pezitr</a></div>
    </div>
  </div>
  